.criteria-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    margin-bottom: 8px;

    igx-slider {
        padding: 0px 16px;
        width: 80%;
    }
}

:host {
    width: 600px;
    display: flex;
    flex-flow: column;
    background: black;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #fffc02, 7px 7px 8px #fffc0285;
}


label {
    color: #fffc02;
    position: absolute;
    margin-top: -24px;
}

button {
    width: 96px;
}

.criteria__buttons {
    display: flex;
    justify-content: space-evenly;
}