@import '../../../styles.scss';

:host {
    display: block;
    margin: 48px;
}
.hexagon {
    width: 112px;
    height: 60px;
    background-color: $secondary;
    position: relative;
  }

  .hexagon:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 42px solid $secondary;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
    position: absolute;
    transform: rotate(45d);
    top: -42px;
  }

  .hexagon:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -42px;
    border-top: 42px solid $secondary;
    border-left: 56px solid transparent;
    border-right: 56px solid transparent;
  }